* {
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
header
    {background:#00549F;
    color:white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 7px 5px;
    overflow: auto;
    }
header span
    {font-size: 15px;
    text-align: left;
    }

body main
    {background:blue;
    }
div#introduccion
    {margin: auto;
    margin-top: 0px;
    width: auto;
    height: 30%;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 1,5em;
    }
div#buscador h4
    {text-align: center;
    padding: 10px;
    margin: 0px;

    }

div#preguntas_frecuentes {
    float: left;
    width:40%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style:solid;
    border-width: 2px;
    padding: 5px;
        }

div#preguntas_frecuentes h4
    {text-align: center;
    }
/*Funcionalidades para aplicar al acordeon de las preguntas frecuentes*/
.accordion {
    Position: absolute;
    margin: 1em auto;
    width: 39%;
  }
  
  [id*="open-accordion"], [id*="close-accordion"] {
    background: grey;
    border-bottom: 1px solid black;
    line-height: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 99%;
  }
  
  [id*="close-accordion"] {
    display: none;
  }
  
  /*Tamaño de la letra de cada pregunta frecuente*/
  .accordion a {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    padding-left: 2%;
    text-decoration: none;
    text-shadow: none;
  }
  /*Indicador de cada pregunta al estar cerrada*/
  [id*="open-accordion"]:after, [id*="close-accordion"]:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
  }
  
  /*Contenido de cada pregunta al ser seleccionada */
  .accordion-content {
    background: #fff;
    height: 0;
    margin: 1px auto 0;
    padding: 0%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    text-align: justify;
  }
  
  .accordion span:target ~ .accordion-content {
    display: block;
    height: auto;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  
  .accordion span:target ~ [id*="close-accordion"] {
    display: block;
  }
  
  .accordion span:target ~ [id*="open-accordion"] {
    display: none;
  }
  
  /*icono que acompaña la pregunta en su titulo*/
  .accordion span:target ~ [id*="close-accordion"]:after {
    border-top: 10px solid black;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }




/*CSS para el contenedor de los videos principales*/
div#videos
    {float: left;
    width: auto;
    height: 75%;
    padding: 0px;
    background-color:gray;
    box-sizing: border-box;
    }

/*Intrucciones para el slider de videos*/
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame 
{
    width:800px;
    margin: 0 auto; /*center-aligned*/
}
  
#slider, #slider .sliderInner {
    width:800px;height:406px;/* Must be the same size as the slider images */
    border-radius: 5px;
}

#slider {
    background-color:white;
    position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #e7e4e4;
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video
{
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    top:320px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}

/* each bullet */
#slider .navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);             
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/*CSS para el banner de videos del tutorial- version antigua*/
    .main-slider{
        width: 70%; /*Same as width of the large image*/
        position: left;
        /*Instead of height we will use padding*/
        padding-top: 20px; /*That helps bring the labels down*/
        margin: 100px auto;
        /*Adicionando una sombra a cada bloque de video
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);*/
        }
    
    /*Last thing remaining is to add transitions*/
    .item youtube{
        position: absolute;
        left: 0; top: 0;
        transition: all 0.5s;
    }
    
    .slider input[name='slide_switch'] {
        display: none;
    }
    
    .slider label {
        /*Lets add some spacing for the thumbnails*/
        margin: 18px 0 0 18px;
        border: 3px solid #999;
        
        float: left;
        cursor: pointer;
        transition: all 0.5s;
        
        /*Default style = low opacity*/
        opacity: 0.6;
    }
    
    .slider label img{
        display: block;
    }
    
    /*Time to add the click effects*/
    .slider input[name='slide_switch']:checked+label {
        border-color: #666;
        opacity: 1;
    }
    /*Clicking any thumbnail now should change its opacity(style)*/
    /*Time to work on the main images*/
    .slider input[name='slide_switch'] ~ img {
        opacity: 0;
        transform: scale(1.1);
    }
    /*That hides all main images at a 110% size
    On click the images will be displayed at normal size to complete the effect
    */
    .slider input[name='slide_switch']:checked+label+img {
        opacity: 1;
        transform: scale(1);
    }
    /*Clicking on any thumbnail now should activate the image related to it*/
.clearfloat{
    clear: both;
}    
/*aside
    {background:green;
    font-size: 15px;
    text-align: right;
    padding: 7px 5px;
    float:right;
    }*/
footer
    {background:rgb(1, 42, 78);
    color:white;
    position: fixed;
    font-size: 15px;
    text-align: right;
    margin: 5px 0px;
    padding: 2px 0px;
    bottom: 0;
    width: 100%;
    height: auto;
    }

#descripcion 
    { text-align: center; 
    }
  .boton_preguntas:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
