* {
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
header
    {background:#00549F;
    color:white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 7px 5px;
    overflow: auto;
    }
header span
    {font-size: 15px;
    text-align: left;
    }

body main
    {background:blue;
    }
div#introduccion
    {margin: auto;
    margin-top: 0px;
    width: auto;
    height: 30%;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 1,5em;
    }
div#buscador h4
    {text-align: center;
    padding: 10px;
    margin: 0px;

    }

div#preguntas_frecuentes {
    float: left;
    width:40%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    border-style:solid;
    border-width: 2px;
    padding: 5px;
        }

div#preguntas_frecuentes h4 {
        text-align: center;
    }
/*Funcionalidades para aplicar al acordeon de las preguntas frecuentes*/
.accordion {
    Position: absolute;
    margin: 1em auto;
    width: 39%;
  }
  
  [id*="open-accordion"], [id*="close-accordion"] {
    background: #00549F;
    border-bottom: 1px solid black;
    line-height: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 99%;
  }
  
  [id*="close-accordion"] {
    display: none;
  }
  
  /*Tamaño de la letra de cada pregunta frecuente*/
  .accordion a {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    padding-left: 2%;
    text-decoration: none;
    text-shadow: none;
  }
  /*Indicador de cada pregunta al estar cerrada*/
  [id*="open-accordion"]:after, [id*="close-accordion"]:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 5;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
  }
  
  /*Contenido de cada pregunta al ser seleccionada */
  .accordion-content {
    background: #fff;
    height: 0;
    margin: 1px auto 0;
    padding: 0%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    text-align: justify;
  }
  
  .accordion span:target ~ .accordion-content {
    display: block;
    height: auto;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  
  .accordion span:target ~ [id*="close-accordion"] {
    display: block;
  }
  
  .accordion span:target ~ [id*="open-accordion"] {
    display: none;
  }
  
  /*icono que acompaña la pregunta en su titulo*/
  .accordion span:target ~ [id*="close-accordion"]:after {
    border-top: 10px solid black;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
/*CSS para el contenedor de los videos principales*/
div#videos
    {float: left;
    width: auto;
    height: 100%;
    padding: 0px;
    background-color:gray;
    box-sizing: border-box;
    }

footer
    {background:rgb(1, 42, 78);
    color:white;
    position: fixed;
    font-size: 15px;
    text-align: right;
    margin: 5px 0px;
    padding: 2px 0px;
    bottom: 0;
    width: 100%;
    height: auto;
    }

#descripcion 
    { text-align: center; 
    }
  .boton_preguntas:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1%;
    text-align:center;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.w3-black,.w3-hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
.w3-display-left{
    position:relative;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.w3-display-right{
    position:relative;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}